@import '../../../global.scss';

$items: 40;

@function generate-random-number() {
    $random: random(14);
    @return 5+$random;
}

@function generate-random-number--media() {
    $random: random(20);
    @return 15+$random;
}

#grid-gallery {

    width: 100%;



    h3 {
        color: $black;
        max-width: 100px;
        margin-bottom: 5px;
    }

    img,
    h3,
    h3::first-letter,
    .close-modal,
    .switch-to-next,
    p {
        user-select: none;
        -webkit-user-drag: none;
    }


    .grid-wrapper {
        margin-top: 17px;

        display: flex;
        padding: 0 20px;
        align-items: start;
        column-gap: 14%;
        row-gap: 100px;
        @include transition3(1.2s, transform);
        justify-content: space-between;
        flex-wrap: wrap;
        will-change: transform;
    }

    p {
        font-size: 9px;
        font-weight: lighter;
        margin-top: 10px;
        max-width: 65px;
    }


    .grid-item {
        opacity: 1;
        position: relative;
        @include transition1(1.5s, opacity);

        &.selected {
            pointer-events: none;
            opacity: 0;

        }

    }

    .grid-content {

        position: relative;
        @include transition1(1.5s, opacity);


        .image-placeholder {
            position: absolute;
            @include text(13px, $white);
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
        }
    }



    @for $i from 1 through $items {
        .grid-item:nth-child(#{$i}) {
            $widthValue: generate-random-number();
            width: #{$widthValue + "%"}; // Добавлен знак процента

            @media all and (max-width: 830px) {
                $widthValue: generate-random-number--media();
                width: #{$widthValue + "%"}; // Добавлен знак процента

            }
        }


    }




}

@media all and (max-width: 830px) {
    .scrollbar-track-y {
        display: none !important;

    }
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    overflow-y: auto;
    overflow-x: hidden;
    transition: cubic-bezier(0.86, 0, 0.07, 1) 1.5s opacity;

    h3 {
        color: $black;
        max-width: 100px;
        margin-bottom: 5px;
    }

    img,
    h3,
    h3::first-letter,
    .close-modal,
    .switch-to-next,
    p {
        user-select: none;
        -webkit-user-drag: none;
    }


    .modal-layout {

        .modal-image,
        .modal-data {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: inherit;

        }

        .modal-data {
            width: 100%;
            padding: 0 30px;
        }

        .text {
            height: 300px;

            .text-line {
                height: 12.8px;
                margin-top: 1px;

                ::selection {
                    background-color: $black;
                    color: $white;
                }


            }
        }

        .next-project {
            position: absolute;
            bottom: 20px;
            right: 20px;

            &:hover {

                .next-project-image::after {
                    top: 0;
                }

                .switch-to-next {
                    color: $black
                }
            }

            .next-project-image {
                width: 30%;
                position: absolute;
                bottom: 56px;
                right: 0;
                clip-path: inset(0 0 0 0);

                z-index: -1;

                &::after {
                    @include transition1(1s, top);

                    position: absolute;
                    top: -100%;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $white;
                    content: '';
                    mix-blend-mode: overlay;
                    opacity: 50%;
                }
            }

            .switch-to-next {
                @include mainHeading(70px, $gray);
                line-height: 60px;
                @include transition1(1s, color);


            }
        }

        .modal-data {

            @media all and (max-height: 550px) {


                position: relative !important;

            }

            .text {
                @include text(11px, $black );
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }

        .close-modal {
            @include mainHeading(30px, $black);
            position: absolute;
            top: 20px;
            right: 20px;

            &:hover::after {
                width: 100%;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 5px;
                height: 2px;
                left: 0;
                background-color: $black;
                width: 0;
                @include transition1(1s, width)
            }
        }

        display: grid;

        height: inherit;
        grid-template-columns: 40% 1fr;
        column-gap: 30px;
        max-width: 1000px;
        margin: 0 auto;


    }

    z-index: 100;
    pointer-events: all;
}

@media all and (max-width: 735px) {
    #modal-root {
        .modal-layout {
            display: flex !important;
            flex-direction: column;
            height: unset !important;
            align-items: center;

            .text {
                letter-spacing: initial;
            }


            .modal-image {

                max-width: 500px;
                padding: 50px 30px 30px;
                height: 650px;

                @media all and (max-width: '430px') {
                    height: 550px;
                }

                .selected-image {
                    overflow: hidden;
                }
            }

            .close-modal {
                top: 10px;
                right: 30px;
            }

            .next-project {
                position: initial !important;
                margin-bottom: 10px;
                display: flex;
                column-gap: 10px;

                .next-project-image {
                    position: initial;
                    width: 65px;
                }

                .switch-to-next {
                    align-self: flex-end;
                    font-size: 45px;
                    line-height: 40px;
                }
            }
        }
    }
}